/*Global Style_______________________________________________________*/
*{padding: 0px; margin: 0px}

body{width: 90%;
	height: 1650px;
	background: white;
	margin: 0 auto;}

header{width: 100%;
		height: 120px;
		background: #404040;}

#divheader {height: 80px;
			width: 200px;
			float: right;
			margin: 0 auto;
			text-align: center;
			padding: 15px 15px;}
			#navmobile {margin-right: 15px;
						margin-top: 2px;
						width: 50px;
						height:55px;
						background: #404040;
						float: right;
						border:1px solid #aaa;
						border-radius:14px;}

#nav 
	{background: #53DEE9;}
	ul {list-style-type: none;} 

#main 
	{float:left;}

aside
	{float:right;}

#opinion
	{float: left;}

#fotos
	{float: left;}


#videos
	{float: left; 
		background: #e6e6e6;
		padding-top: 10px;}

#galeria
	{float: left;background: #e6e6e6;
	padding-top: 10px;}

footer
	{width: 100%;
	background-repeat: no-repeat;
	float: left;}





/*Desktop Style_______________________________________________________*/
@media only screen and (min-width:769px) {

body {max-width: 1000px;
		min-width: 950px;}

header
	#rio2 {display:none;}
	#rio3 {display:none;}
	#navmobile {display:none;}
	.rio
		{margin-left: 20px;
		margin-top: 18px;}

#nav 
	{width: 100%;
	height:50px;}

#main {width: 77.5%;
		height:560px;
		padding-left: 0.5%;}
		#caballo2{display:none;}
		#caballo3 {display:none;}
		#caballo1 {width: 98%;
					margin-top: 50px;}

aside{width: 22%;
	height: 890px;
	margin-top: 50px;}
	#especiales
		{margin: 0 auto;
		text-align: center;
		height: 330px;
		float: right;
		padding-top: 5px;
		padding-bottom: 5px;
		border: solid 4px #404040;}
		#especial1 {margin: 0 auto;
					text-align: center;}
		#especial2 {display: none;}
	#redes
		{width: 94%;
		height: 129px;
		float: right;
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 3%;
		background: #262626;}
	#publicidad
		#banner1 {width: 100%;}
		#banner2 {display: none;}
		#banner3 {display: none;}

#opinion
	{width: 38%;
	height: 420px;
	margin-left: 1%;}
		
#fotos
	{width: 36%;
	height: 420px;
	padding: 0 1.5%;}
		#patinaje2{display:none;}
		#patinaje3{display:none;}
		#patinaje1{width: 100%;}
		#publico2{display: none;}
		#publico3{display:none;}
		#publico1{width: 100%;
					margin-top: 10px;}

#videos
	{width: 49.5%;
		height: 320px;
		margin: 0 auto;
				text-align: center;
			border-right:#bfbfbf solid 4px;}
		#vid {text-align: left;}
		#video1{text-align: center;
				margin-top: 40px;
				margin-bottom: 20px;}

#galeria
	{width: 50%;
		height: 320px;
		margin: 0 auto;
				text-align: center;}
		#gal {text-align: left;}
		#paisaje1{text-align: center;
				margin-top: 40px;
				margin-bottom: 20px;}


footer
		{height: 150px;
		background: url(../images/footer1.jpg);
		background-repeat: no-repeat;
		float: left;}
		.footred
				{height: 50px; }
		#footred
				{margin-left: 420px;}

} /*no borrar*/


/*Tablet Style_______________________________________________________*/
@media only screen and (min-width:481px) and (max-width:768px) {

body {min-width: 650px;}

header 
	{background: #53DEE9;
		height: 150px;}
	#rio1 {display:none;}
	#rio3 {display:none;}
	#nav {display:none;}
	.rio
		{margin-left: 20px;
		margin-top: 40px;}

#navmobile {
	margin-top: 40px;
	}

#main 
	{width: 77.5%; height:420px;
		padding-left: 0.5%;}
		#caballo1{display:none;}
		#caballo3 {display:none;}
		#caballo2 {width: 95%;
					margin-top: 43px;}

aside
	{width: 22%;
	height: 830px;
	margin-top: 43px;}
	#especiales
		{margin: 0 auto;
		text-align: center;
		height: 336px;
		float: right;
		padding-top: 5px;
		padding-bottom: 5px;
		border: solid 4px #404040;}
		#especial2 {margin: 0 auto;
					text-align: center;}
		#especial1 {display: none;}
	#redes
		{ margin: 0 auto;
		height: 170px;
		float: right;
		margin-top: 23px;
		margin-bottom: 20px;
		background: #262626;}
		.redes
			{margin-left: 17px;}
		.redes2
			{margin-left: 10px;}
	#publicidad
		#banner2 {width: 100%;}
		#banner1 {display: none;}
		#banner3 {display: none;}

#opinion
	{width: 38.5%;
	height: 460px;
	padding-left: 0.5%;
	float: left;}
		
#fotos
	{width: 36%;
	height: 460px;
	float: left;
	padding: 0 1.5%;}
		#patinaje1{display: none;}
		#patinaje3{display: none;}
		#patinaje2{width: 100%;}
		#publico1{display: none;}
		#publico3{display:none;}
		#publico2{width: 100%;
					margin-top: 10px;}

#videos
	{width: 49.3%;
		height: 320px;
		margin: 0 auto;
				text-align: center;
			border-right:#bfbfbf solid 4px;}
		#vid {text-align: left;}
		#video1{text-align: center;
				margin-top: 40px;
				margin-bottom: 20px;}	

#galeria
	{width: 50%;
		height: 320px;
		margin: 0 auto;
				text-align: center;}
		#gal {text-align: left;}
		#paisaje1{text-align: center;
				margin-top: 40px;
				margin-bottom: 20px;}	

footer
	{background: url(../images/footer1.jpg);
		height: 150px;}
		.footred
				{height: 50px; margin: 0 auto;}
		#footred
				{margin-left: 35%;}

} /*no borrar*/


/*Mobile Style_______________________________________________________*/
@media only screen and (max-width:480px) {



header 
	{height: 120px;
	background: #53DEE9;}
	#rio1 {display:none;}
	#rio2 {display:none;}
	#nav {display:none;}
	#rio3 {margin-left: 10px;
		margin-top: 30px;}


#navmobile {
	margin-top: 15px;}

#nav {display: none;}

#main {width: 100%;
height:340px;}
		#caballo1 {display:none;}
		#caballo2 {display:none;}
		#caballo3 {width: 100%;
					margin-top: 32px;}

aside{width: 100%;
	height: 750px;}
	#especiales
		{margin: 0 auto;
		text-align: center;
		height: 300px;
		float: right;
		padding-top: 5px;
		padding-bottom: 5px;
		border: solid 4px #404040;}
		#especial1 {margin: 0 auto;
					text-align: center;
					margin-top: 15px;
					margin-bottom: 5px;}
		#especial2 {display: none;}
	#redes
		{width: 100%; 
		margin: 0 auto;
		text-align: center;
		height: 140px;
		float: right;
		margin-top: 10px;
		padding-top: 20px;
		margin-bottom: 20px;
		background: #262626;}
		.redes
		{margin: 0 auto;}
		.redes2
		{margin: 0 auto;}
	#publicidad {margin: 0 auto; text-align: center;}
		#banner1  {display: none;}
		#banner2 {display: none;}
		#banner3 {width: 100%;}

#opinion
	{width: 99.5%;
	height: 400px;
	float: left;
	padding-left: 0.5%;}

#fotos
	{width: 100%;
	height: 500px;
	float: left;}
		#patinaje1{display: none;}
		#patinaje2{display: none;}
		#patinaje3{width: 100%;
					margin-top: 10px;}
		#publico1{display: none;}
		#publico2{display:none;}
		#publico3{width: 100%;
					margin-top: 10px;}

#videos
	{width: 100%;
		height: 316px;
		margin: 0 auto;
				text-align: center;
				border-bottom:#bfbfbf solid 4px;}
		#vid {text-align: left;}
		#video1{text-align: center;
				margin-top: 40px;
				margin-bottom: 20px;}

#galeria
	{width: 100%;
		height: 320px;
		margin: 0 auto;
				text-align: center;}
		#gal {text-align: left;}
		#paisaje1{text-align: center;
				margin-top: 40px;
				margin-bottom: 20px;}

footer
	{background: url(../images/footer3.jpg);
	background-repeat: no-repeat;
	height: 120px;
	padding-top: 30px;
	width: 96%;
	padding-left: 4%;}
		.footred
				{height: 50px;
				 margin: 0 auto; text-align: center;}
		#footred
				{margin-left: 24%;}

} /*no borrar*/


