/*Global Style_______________________________________________________*/
*{padding: 0px; margin: 0px}

h1 {font-family: 'Roboto', sans-serif, helvetica;
color: 	#404040;}
h2	{font-family: 'Roboto', sans-serif, helvetica;
		color: 	#404040; font-size: 1.3em;}
a {text-decoration: none;}
p {font-family: 'Roboto', sans-serif, helvetica;}
nav
	.menu
		{font-family: 'Roboto', sans-serif, helvetica;
		width: 155.9px;
		border-right: solid 1px #404040; 
		height: 25px;
		font-size: 1.2em;
		margin-top: 10px;
		padding-top: 5px;
		margin-bottom: 10px;
		text-align: center;
		float: right;
		color: 	#404040;
		text-decoration: none;}

	.menu:hover {background: #1abfcb;
			color: #fff;}
main
	#selfie
		{margin-left: 6px;
		margin-right: 25px;
		padding-bottom: 3px;
		border-bottom: #404040 solid 4px;}
aside
	#notaespecial
	{text-align: center;
		margin-top: 5px;
		color: #000;}
	#siguenos
		{color: #fff;
		margin-top: 15px;
		margin-left: 15px;
		margin-bottom: 15px;}

section 
	.subtitulos
		{background: #262626;
		width: 200px;
		color: #fff;
		padding-left: 10px;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-top: 0px;}
	.opinion
		{margin-top: 50px;}
	h3
	{font-family: 'Roboto', sans-serif, helvetica;
	color: 	#000; 
	font-size: 1.1em;
	margin-top: 60px;}

	.por
		{color: #595959;
		margin-top: 10px;
		border-bottom: #000 solid 2px;}


/*Desktop Style_______________________________________________________*/
@media only screen and (min-width:769px) {

h1 {font-size: 1.5em; 
margin-left: 6px;}


#notaespecial
	{width: 90%;
	margin-left: 8px;}


#footer
{text-align: center;
color: #fff;
padding-left: 20px;
padding-top: 5px;
padding-bottom: 10px;
font-size: 1em;
text-decoration: none;
background: url(../images/rio2016.png);
	background-repeat: no-repeat;
	background-position: 190px -1px;
	background-size: 35px;}

.foot
	{color: #fff}
.foot:hover {color:#ddd;}

.menu2
	{font-family: 'Roboto', sans-serif, helvetica;
	width: 20%;
	height: 35px;
	font-size: 1em;
	padding-top: 15px;
	text-align: center;
	margin: 0 auto;
	float: left;
	color: #fff;}

.menu2:hover {background: #1abfcb;
		color: color: 	#404040; ;}



} /*no borrar*/



/*Tablet Style_______________________________________________________*/
@media only screen and (min-width:481px) and (max-width:768px) {

h1 {font-size: 1.5em; 
margin-left: 6px;}

h3 {margin-top: 40px;
	margin-left: 5px;}

#footer
{text-align: center;
color: #fff;
padding-left: 20px;
padding-top: 5px;
padding-bottom: 10px;
font-size: 0.9em;
text-decoration: none;
background: url(../images/rio2016.png);
	background-repeat: no-repeat;
	background-position: 78px -3px;
	background-size: 35px;}

.opinion {margin-top: 40px;}

.foot
	{color: #fff}
.foot:hover {color:#ddd;}

.menu2
	{font-family: 'Roboto', sans-serif, helvetica;
	width: 20%;
	height: 35px;
	font-size: 1em;
	padding-top: 15px;
	text-align: center;
	margin: 0 auto;
	float: left;
	color: #fff;}

.menu2:hover {background: #1abfcb;
		color: color: 	#404040; ;}
} /*no borrar*/



/*Mobile Style_______________________________________________________*/
@media only screen and (max-width:480px) {

h1 {font-size: 1.3em; 
margin-left: 6px;}


#selfie
	{font-size: 0.8em; width: 98%;}

#notaespecial
	{width: 90%;
	margin-left: 15px;}

.menu2 {display: none;}

.opinion {font-size: 1em;}

.por {font-size: 1em;}


#footer
{text-align: center;
color: #fff;
padding-left: 15px;
padding-top: 20px;
padding-bottom: 10px;
font-size: 0.6em;
text-decoration: none;
background: url(../images/rio2016.png);
	background-repeat: no-repeat;
	background-position: 0px 10px;
	background-size: 35px;}

.foot
	{color: #fff}
.foot:hover {color:#ddd;}


} /*no borrar*/

